#case-contact{
    background-color: rgba(17, 17, 17, 0.959);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);

}

h2{
    font-weight: bolder;
    font-size: 3rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
}

.form{
    width: 100%;
    max-width: 32rem;
    font-size: 1.2rem;
}
.form label,
.form input,
.form textarea,
.form button{
    display: block;
    width: 100%;
}

.form label{
    font-weight: bolder;
    color: white;
    line-height: 1;
    margin: 0 0 12px;
}

.form input,
.form textarea{
    font: inherit;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border-color;
    box-shadow: 0.2s;
}

.form textarea{
    min-height: 15rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    border-color: rgb(85, 0, 85);
    box-shadow: 0 0 0 3px rgb(85, 0, 85);
    transition: 1s all;
    transform: scale(1.05);
}


.form button{
    display: block;
    padding: 1rem;
    background: rgb(63, 0, 63);
    color: azure;
    font: inherit;
    font-weight: bolder;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s all;
}

.form button:hover,
.form button:focus{
    outline: none;
    background: rgb(139, 57, 139);
    transform: scale(1.05);
}