body{
    overflow-x: hidden;
}

.logo{
    font-size: 1rem;
}

#items{
    position: absolute;
    top: 12vh;
    right: 0;
    width: 30vw;
    height: 88vh;
    background: rgba(255, 255, 255, 0);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;

}
    
#items li{
    margin-bottom: 4rem;
    margin-left: 0;
    opacity: 0;
    transition: none;
    color: white;
    background: rgb(37, 37, 37);
}
#items li:hover{
    transform: none;
}

.mobile-menu{
    display: block;
}
    
#items.active{
    transform: translateX(0);
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes navItemsFade{
    from{
        opacity: 0;
        transform: translateX(50px);
        
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 150vh;
    display: grid;

    grid-template-areas: 
    "sobre "
    "curso-progresso"
    "tempo";

}

.curso-progresso{
    font-weight: bold;
    margin-top: 45px;
    width: 550px;
    height: 30px;
}
.curso-progresso h2{
    font-size: 2rem;
}

.curso{
    margin: 0px 0px 0px 50px;
    border-radius: 10px;
    width: 550px;
    height: 130px;
    background: linear-gradient(#100033, rgb(6, 5, 104));
    grid-area: "curso";
    display: flex;
    align-items: center;
    
}

.curso-andamento-logo{
    margin: 0 30px 0 20px;
}

.curso p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.porcentagem{
    background: rgb(255, 255, 255);
    margin-left: 20px;
    width: 280px;
    height: 30px;
    border-radius: 10px;
}
.porcentagem div{
    background: rgb(0, 87, 138);
    width: 280px;
    height: 30px;
    border-radius: 10px;
}

#tecnologo{
    font-size: 1.5rem;
}

.sobre{
    margin: 0px 0px 0px 50px;
    border-radius: 10px;
    width: 550px;
    height: 597px;
    grid-area: "sobre";
    grid-row: sobre;
    
}

.sobre .feature{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.sobre h2{
    font-size: 2rem;
}

.tempo{
    margin: 0px 0px 0px 50px;
    width: 550px;
    height: 430px;
    grid-area: "tempo";
    
}

.goku{
    width: 200px;
    height: 150px;
}
.tempo-wid{
    width: 550px;
    height: 275px;
    border-radius: 10px;
}



.container-box{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 50px;
    justify-items: center;
}


.box{
    
    background: linear-gradient(#100033, rgb(6, 5, 104));
    width: 220px;
    height: 215px;
    border-radius: 20px;
    padding: 15px;
    position: none;
    margin: 10px;
    overflow: none;
    position: unset;
}

.box h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.box .logos {
    width: 45px;
    position: unset;
    transform: none;
    font-size: 10rem;
    transition: none;
    margin-top: -5px;
    margin-left: 145px;
}

.box:hover .logos{
    font-size: 3rem;
    transform: none;
}

.box .content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    width: 100%;
    height: 100%;
    position: unset;
    transition: none;
    padding: 50px 0px;
    margin-top: -35px;
    margin-left: -10px;
}


.box:hover .content{
    transform: none;
}

.box .content p{
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
}


/* Contact */




h2{
    font-weight: bolder;
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    line-height: 1;
}

.form{
    width: 100%;
    max-width: 17rem;
    font-size: 0.90rem;
}
.form label,
.form input,
.form textarea,
.form button{
    display: block;
    width: 100%;
}

.form label{
    font-weight: bolder;
    color: white;
    line-height: 1;
    margin: 11px 0 11px;
}

.form input,
.form textarea{
    font: inherit;
    padding: 0.80rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border-color;
    box-shadow: 0.2s;
}

.form textarea{
    min-height: 6.50rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    border-color: rgb(85, 0, 85);
    box-shadow: 0 0 0 3px rgb(85, 0, 85);
}


.form button{
    display: block;
    padding: 0.80rem;
    background: rgb(85, 0, 85);
    color: azure;
    font: inherit;
    font-weight: bolder;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover,
.form button:focus{
    outline: none;
    background: purple;
}