.container-projects{
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "projeto projeto1 projeto2"
    "projeto3 projeto4 projeto5"
    "projeto6 projeto7 projeto8";
    margin-bottom: 1%;
   
}


.projeto{
    margin: 0.5rem;
    width: auto;
    height: 300px;
    border: 1px solid #9EC6B8;
    border-radius: 1rem;
    grid-area: projeto;
    
}

.projeto .imagem{
    margin: auto;
    margin-top: 1.5%;
    display: flex;
    justify-content: space-around;
    
}
.sobre-projeto{
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sobre-projeto h2{
    font-size: 1rem;
    font-weight: bold;
    margin: 1.5%;
}

.sobre-projeto p{
    
    font-size: 1rem;
    display: flex;
   
}

.github{
    font-size: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}


.github::before{
    content: "";
    height: 24px;
    width: 24px;
    margin-right: 7px;
    background: url(/assets/fotos/icon-github-big.svg) 50% no-repeat;
    background-size: contain;
}


.projeto1{
    margin: 0.5rem;
    width: auto;
    height: 300px;
    border: 1px solid #9EC6B8;
    border-radius: 1rem;
    grid-area: projeto1;
}

.projeto2{
    margin: 0.5rem;
    width: auto;
    height: 300px;
    border: 1px solid #9EC6B8;
    border-radius: 1rem;
    grid-area: projeto2;
}

.projeto3{
    margin: 0.5rem;
    width: auto;
    height: 300px;
    border: 1px solid #9EC6B8;
    border-radius: 1rem;
    grid-area: projeto3;
}

.projeto4{
    margin: 0.5rem;
    width: auto;
    height: 300px;
    border: 1px solid #9EC6B8;
    border-radius: 1rem;
    grid-area: projeto4;
}

.projeto5{
    margin: 0.5rem;
    width: auto;
    height: 300px;
    border: 1px solid #9EC6B8;
    border-radius: 1rem;
    grid-area: projeto5;
}


.projeto6{
    margin: 0.5rem;
    width: auto;
    height: 300px;
    border: 1px solid #9EC6B8;
    border-radius: 1rem;
    grid-area: projeto6;
}

.projeto7{
    margin: 0.5rem;
    width: auto;
    height: 300px;
    border: 1px solid #9EC6B8;
    border-radius: 1rem;
    grid-area: projeto7;
}

.projeto8{
    margin: 0.5rem;
    width: auto;
    height: 300px;
    border: 1px solid #9EC6B8;
    border-radius: 1rem;
    grid-area: projeto8;
}


#footer{
    background: #213435;
    color: #eee;
    padding: 30px;
    text-align: center;
}
